In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
# Load excel file:
kpmg_data = 'C:/Users/user/Desktop/Data Science or Data Analytics/KPMG_VI_New_raw_data_update_final.xlsx'

# Read each sheet into separate Dataframe:
transc = pd.read_excel(kpmg_data, sheet_name = 'Transactions')
new_cust = pd.read_excel(kpmg_data, sheet_name = 'NewCustomerList')
cust_dem = pd.read_excel(kpmg_data, sheet_name = 'CustomerDemographic')
cust_addr = pd.read_excel(kpmg_data, sheet_name = 'CustomerAddress')

In [4]:
# Getting a brief summary of the data:

print(transc.info(verbose = False)) 
print(cust_dem.info(verbose = False))
print(cust_addr.info(verbose = False))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Columns: 26 entries, transaction_id to Unnamed: 25
dtypes: datetime64[ns](1), float64(17), int64(3), object(5)
memory usage: 4.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Columns: 13 entries, customer_id to tenure
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 406.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Columns: 6 entries, customer_id to property_valuation
dtypes: int64(3), object(3)
memory usage: 187.6+ KB
None

In [ ]:




#                                 DATA QUALITY ASSESSMENT

In [5]:
# Getting the list of indices:
print('Transaction data: ', transc.index)
print('Customer Demographic: ', cust_dem.index)
print('Customer Address: ', cust_addr.index)

Transaction data:  RangeIndex(start=0, stop=20000, step=1)
Customer Demographic:  RangeIndex(start=0, stop=4000, step=1)
Customer Address:  RangeIndex(start=0, stop=3999, step=1)

In [6]:
cust_dem.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [7]:
cust_addr.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [8]:
transc.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
print("Number of unique customer IDs in Transaction data are: ", transc['customer_id'].nunique())
print("Number of unique customer IDs in Customer Demographic data are: ", cust_dem['customer_id'].nunique())
print("number of unique customer IDs in Customer Address are: ", cust_addr['customer_id'].nunique())

Number of unique customer IDs in Transaction data are:  3494
Number of unique customer IDs in Customer Demographic data are:  4000
number of unique customer IDs in Customer Address are:  3999

In [10]:

#           CHECKING FOR MISSING VALUES OR EMPTY ROWS

# Printing out the sum of all the missing values in the 3 datasets given:
print("Missing values in Transaction table:\n", transc.isnull().sum(), "\n")
print("Missing values in Customer Demographic:\n", cust_dem.isnull().sum(), "\n")
print("Missing values in Customer Address table:\n", cust_addr.isnull().sum(), "\n")

Missing values in Transaction table:
 transaction_id                 0
product_id                     0
customer_id                    0
transaction_date               0
online_order                 360
order_status                   0
brand                        197
product_line                 197
product_class                197
product_size                 197
list_price                     0
standard_cost                197
product_first_sold_date      197
Unnamed: 13                20000
Unnamed: 14                20000
Unnamed: 15                20000
Unnamed: 16                20000
Unnamed: 17                20000
Unnamed: 18                20000
Unnamed: 19                20000
Unnamed: 20                20000
Unnamed: 21                20000
Unnamed: 22                20000
Unnamed: 23                20000
Unnamed: 24                20000
Unnamed: 25                20000
dtype: int64

Missing values in Customer Demographic:
 customer_id                              0
first_name                               0
last_name                              125
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     87
job_title                              506
job_industry_category                  656
wealth_segment                           0
deceased_indicator                       0
default                                302
owns_car                                 0
tenure                                  87
dtype: int64

Missing values in Customer Address table:
 customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [11]:
# Perfoming a spellcheck:
# Use either 'pyspellchecker' or 'TextBlob' libraries
'''
from spellchecker import SpellChecker

spell = SpellChecker()   # Initialize the spell checker

names = cust_dem['first_name'].tolist()

misspelled = spell.unknown(names)


for word in misspelled:
    # Get the one 'most likely' answer
    correct_word = spell.correction(word)
    print(f"{word} -> {correct_word}")
    
    # Get a list of 'likely' options
    suggestions = spell.candidates(word)
    print(f"Suggestions for {word}: {suggestions}")
'''

'\nfrom spellchecker import SpellChecker\n\nspell = SpellChecker()   # Initialize the spell checker\n\nnames = cust_dem[\'first_name\'].tolist()\n\nmisspelled = spell.unknown(names)\n\n\nfor word in misspelled:\n    # Get the one \'most likely\' answer\n    correct_word = spell.correction(word)\n    print(f"{word} -> {correct_word}")\n    \n    # Get a list of \'likely\' options\n    suggestions = spell.candidates(word)\n    print(f"Suggestions for {word}: {suggestions}")\n'

In [12]:
# checking the datatypes
print("Custmer demographic datatypes: \n", cust_dem.dtypes, "\n")
print("Customer address datatypes: \n", cust_addr.dtypes, "\n")
print("Transaction datatypes: \n", transc.dtypes)

Custmer demographic datatypes:
 customer_id                                     int64
first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                             object
default                                        object
owns_car                                       object
tenure                                        float64
dtype: object

Customer address datatypes:
 customer_id            int64
address               object
postcode               int64
state                 object
country               object
property_valuation     int64
dtype: object

Transaction datatypes:
 transaction_id                      int64
product_id                          int64
customer_id                         int64
transaction_date           datetime64[ns]
online_order                      float64
order_status                       object
brand                              object
product_line                       object
product_class                      object
product_size                       object
list_price                        float64
standard_cost                     float64
product_first_sold_date           float64
Unnamed: 13                       float64
Unnamed: 14                       float64
Unnamed: 15                       float64
Unnamed: 16                       float64
Unnamed: 17                       float64
Unnamed: 18                       float64
Unnamed: 19                       float64
Unnamed: 20                       float64
Unnamed: 21                       float64
Unnamed: 22                       float64
Unnamed: 23                       float64
Unnamed: 24                       float64
Unnamed: 25                       float64
dtype: object

In [13]:

#      CUSTOMER DEMOGRAPHIC TABLE:

In [14]:


#                        DEALING WITH THE MISSING VALUES:

In [15]:
# Checking for the most frequent job title :
common_job_title = cust_dem['job_title'].value_counts().idxmax()
common_job_title

'Business Systems Development Analyst'

In [16]:
# Most frequent Last name that occured in the dataset:

freq_ln = cust_dem['last_name'].value_counts().idxmax()
freq_ln

'Pristnor'

In [17]:
# Most frequent job industry category:
freq_ind_cat = cust_dem['job_industry_category'].value_counts().idxmax()
freq_ind_cat

'Manufacturing'

In [18]:
# The average tenure :
mean_tenure = cust_dem['tenure'].mean()
mean_tenure

10.65704063378482

In [19]:

# Replacing the missing values:

cust_dem['last_name'].replace(np.nan, freq_ln, inplace = True)
cust_dem['job_title'].replace(np.nan, common_job_title, inplace = True)
cust_dem['job_industry_category'].replace(np.nan, freq_ind_cat, inplace = True)

In [20]:
# Dropping the 'default' column
cust_dem.drop(columns = ['default'], inplace = True)

In [21]:
cust_dem.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15.0
3,4,Talbot,Pristnor,Male,33,1961-10-03,Business Systems Development Analyst,IT,Mass Customer,N,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Manufacturing,Affluent Customer,N,Yes,8.0

In [22]:
# Dropping the rows with missing value in the 'DOB' column:
cust_dem.dropna(axis = 0, inplace = True)

In [23]:
cust_dem['deceased_indicator'].unique()

array(['N', 'Y'], dtype=object)

In [24]:
cust_dem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3913 entries, 0 to 3999
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          3913 non-null   int64
 1   first_name                           3913 non-null   object
 2   last_name                            3913 non-null   object
 3   gender                               3913 non-null   object
 4   past_3_years_bike_related_purchases  3913 non-null   int64
 5   DOB                                  3913 non-null   datetime64[ns]
 6   job_title                            3913 non-null   object
 7   job_industry_category                3913 non-null   object
 8   wealth_segment                       3913 non-null   object
 9   deceased_indicator                   3913 non-null   object
 10  owns_car                             3913 non-null   object
 11  tenure                               3913 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 397.4+ KB

In [25]:

#              CHECKING FOR DUPLICATES

In [26]:
# Checking for duplicates in customer id

cust_dem['customer_id'].duplicated().any()

False

In [27]:
cust_dem['first_name'].duplicated().any()

True

In [28]:

#               CHECKING DATA FORMATS

In [29]:
cust_dem.dtypes

customer_id                                     int64
first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                             object
owns_car                                       object
tenure                                        float64
dtype: object

In [30]:

# Changing datatype for tenure to integer
cust_dem['tenure'] = cust_dem['tenure'].astype('int64')

In [31]:

#            CONSISTENCY

In [32]:
# Checking to see the unique values in the gender column
cust_dem['gender'].unique()

array(['F', 'Male', 'Female', 'U', 'Femal', 'M'], dtype=object)

In [33]:
# To enable consistency, the code below will stick 
cust_dem['gender'].replace('M', 'Male', inplace = True)
cust_dem['gender'].replace('F', 'Female', inplace = True)
cust_dem['gender'].replace('Femal', 'Female', inplace = True)

In [34]:
cust_dem['gender'].unique()

array(['Female', 'Male', 'U'], dtype=object)

In [35]:


#         CUSTOMER ADDRESS

In [36]:

#                                MISSING DATA

In [37]:
cust_addr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 0 to 3998
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   int64
 1   address             3999 non-null   object
 2   postcode            3999 non-null   int64
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   int64
dtypes: int64(3), object(3)
memory usage: 187.6+ KB

In [38]:
cust_addr.head()

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9

In [39]:
cust_addr['country'].unique()

array(['Australia'], dtype=object)

In [40]:
cust_addr['address'].duplicated().all()

False

In [41]:

#            DUPLICATES
cust_addr['address'].duplicated().any()

True

In [42]:


#                         TRANSACTIONS DATA

In [43]:

#            DEALING WITH MISSING DATA

In [44]:
transc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
 13  Unnamed: 13              0 non-null      float64
 14  Unnamed: 14              0 non-null      float64
 15  Unnamed: 15              0 non-null      float64
 16  Unnamed: 16              0 non-null      float64
 17  Unnamed: 17              0 non-null      float64
 18  Unnamed: 18              0 non-null      float64
 19  Unnamed: 19              0 non-null      float64
 20  Unnamed: 20              0 non-null      float64
 21  Unnamed: 21              0 non-null      float64
 22  Unnamed: 22              0 non-null      float64
 23  Unnamed: 23              0 non-null      float64
 24  Unnamed: 24              0 non-null      float64
 25  Unnamed: 25              0 non-null      float64
dtypes: datetime64[ns](1), float64(17), int64(3), object(5)
memory usage: 4.0+ MB

In [45]:
'''
13 Unnamed columns with no values
online order has empty rows
brand
product_line
product_class
product_size
list_price
standard_cost
product_first_sold_date
'''

'\n13 Unnamed columns with no values\nonline order has empty rows\nbrand\nproduct_line\nproduct_class\nproduct_size\nlist_price\nstandard_cost\nproduct_first_sold_date\n'

In [46]:
transc.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1,2,2950,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,3,3120,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,37,402,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,88,3135,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,78,787,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
# Let get the average online order :
avg_online_order = transc['online_order'].mean()
print(avg_online_order)                 # average value of online order
print(transc['online_order'].idxmax())  # most occuring value

0.5004582484725051
1

In [48]:
# Replacing the missing values in online order with the most occuring value
transc['online_order'].replace(np.nan, 1, inplace = True)

In [49]:
# Drop all the remaining empty columns in the dataset
transc.drop(columns = ['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
                       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25'], inplace = True)

In [50]:
transc.dropna(axis = 0, inplace = True)

In [51]:
transc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19803 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           19803 non-null  int64
 1   product_id               19803 non-null  int64
 2   customer_id              19803 non-null  int64
 3   transaction_date         19803 non-null  datetime64[ns]
 4   online_order             19803 non-null  float64
 5   order_status             19803 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               19803 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.1+ MB

In [52]:

#                  DATA FORMATS

In [53]:
# Changing the data type of online_order from float to int
transc['online_order'] = transc['online_order'].astype('int64')

In [54]:
# Converting Float to Datetime for "Product first sold date"
transc['product_first_sold_date'] = pd.to_datetime(transc['product_first_sold_date'], origin = '1899-12-30', unit = 'D')

In [55]:
transc.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,0,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02
1,2,3,3120,2017-05-21,1,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03
2,3,37,402,2017-10-16,0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20
3,4,88,3135,2017-08-31,0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1998-12-16
4,5,78,787,2017-10-01,1,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10

In [56]:
#transc.set_index('customer_id', inplace = True)

In [57]:
transc['online_order'].unique()

array([0, 1], dtype=int64)

In [71]:
'''
# Checking for whitespaces:
def check_whitespaces(cust_dem):
    for column in cust_dem.columns:
        if cust_dem[column].dtype == 'object': # checks only string columns
            whitespaces = cust_dem[column].apply(lambda x: x != x.strip() if isinstance(x, str) else False)
            if whitespaces.any():
                print(f"Column '{column}' has whitespaces in the following rows:")
                print(cust_dem[whitespaces])

# Run the function:
check_whitespaces(cust_dem)
'''

'\n# Checking for whitespaces:\ndef check_whitespaces(cust_dem):\n    for column in cust_dem.columns:\n        if cust_dem[column].dtype == \'object\': # checks only string columns\n            whitespaces = cust_dem[column].apply(lambda x: x != x.strip() if isinstance(x, str) else False)\n            if whitespaces.any():\n                print(f"Column \'{column}\' has whitespaces in the following rows:")\n                print(cust_dem[whitespaces])\n\n# Run the function:\ncheck_whitespaces(cust_dem)\n'

In [61]:
# Trim whitespaces from all string columns
# df_trimmed = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [90]:
'''
columns_with_duplicates = {}

# Loop through each column to check for duplicates
for column in cust_dem.columns:
    if cust_dem[column].duplicated().any():
        # Store duplicate values
        columns_with_duplicates[column] = cust_dem[column][cust_dem[column].duplicated()]

# Print columns with duplicate values
for column, values in columns_with_duplicates.items():
    print(f"Column '{column}' has duplicate values:\n{values}\n")
'''

'\ncolumns_with_duplicates = {}\n\n# Loop through each column to check for duplicates\nfor column in cust_dem.columns:\n    if cust_dem[column].duplicated().any():\n        # Store duplicate values\n        columns_with_duplicates[column] = cust_dem[column][cust_dem[column].duplicated()]\n\n# Print columns with duplicate values\nfor column, values in columns_with_duplicates.items():\n    print(f"Column \'{column}\' has duplicate values:\n{values}\n")\n'

In [58]:

                    
#                        MERGING THE DATASETS

In [59]:
# Merging the cust_dem and cust_addr first using the customer_id variable as the key id connecting them
merged_df1 =  pd.merge(cust_dem, cust_addr, on = 'customer_id', how = 'left')

In [60]:
merged_df1

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11,060 Morning Avenue,2016.0,New South Wales,Australia,10.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16,6 Meadow Vale Court,2153.0,New South Wales,Australia,10.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,Yes,15,NaN,NaN,NaN,NaN,NaN
3,4,Talbot,Pristnor,Male,33,1961-10-03,Business Systems Development Analyst,IT,Mass Customer,N,No,7,0 Holy Cross Court,4211.0,QLD,Australia,9.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Manufacturing,Affluent Customer,N,Yes,8,17979 Del Mar Point,2448.0,New South Wales,Australia,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3908,3995,Rusty,Iapico,Male,93,1975-12-12,Staff Scientist,Manufacturing,Mass Customer,N,Yes,14,613 Erie Lane,2088.0,NSW,Australia,12.0
3909,3996,Rosalia,Halgarth,Female,8,1975-08-09,VP Product Management,Health,Mass Customer,N,No,19,0 Transport Center,3977.0,VIC,Australia,6.0
3910,3997,Blanch,Nisuis,Female,87,2001-07-13,Statistician II,Manufacturing,High Net Worth,N,Yes,1,4 Dovetail Crossing,2350.0,NSW,Australia,2.0
3911,3999,Patrizius,Pristnor,Male,11,1973-10-24,Business Systems Development Analyst,Manufacturing,Affluent Customer,N,Yes,10,1482 Hauk Trail,3064.0,VIC,Australia,3.0
3912,4000,Kippy,Oldland,Male,76,1991-11-05,Software Engineer IV,Manufacturing,Affluent Customer,N,No,11,57042 Village Green Point,4511.0,QLD,Australia,6.0

In [61]:
# Merging the merged_df1 with the transc data:
merged_df = pd.merge(merged_df1, transc, on = 'customer_id', how = 'left')

In [62]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19858 entries, 0 to 19857
Data columns (total 29 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   customer_id                          19858 non-null  int64
 1   first_name                           19858 non-null  object
 2   last_name                            19858 non-null  object
 3   gender                               19858 non-null  object
 4   past_3_years_bike_related_purchases  19858 non-null  int64
 5   DOB                                  19858 non-null  datetime64[ns]
 6   job_title                            19858 non-null  object
 7   job_industry_category                19858 non-null  object
 8   wealth_segment                       19858 non-null  object
 9   deceased_indicator                   19858 non-null  object
 10  owns_car                             19858 non-null  object
 11  tenure                               19858 non-null  int64
 12  address                              19831 non-null  object
 13  postcode                             19831 non-null  float64
 14  state                                19831 non-null  object
 15  country                              19831 non-null  object
 16  property_valuation                   19831 non-null  float64
 17  transaction_id                       19362 non-null  float64
 18  product_id                           19362 non-null  float64
 19  transaction_date                     19362 non-null  datetime64[ns]
 20  online_order                         19362 non-null  float64
 21  order_status                         19362 non-null  object
 22  brand                                19362 non-null  object
 23  product_line                         19362 non-null  object
 24  product_class                        19362 non-null  object
 25  product_size                         19362 non-null  object
 26  list_price                           19362 non-null  float64
 27  standard_cost                        19362 non-null  float64
 28  product_first_sold_date              19362 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(7), int64(3), object(16)
memory usage: 4.5+ MB

In [63]:
merged_df.isnull().sum()

customer_id                              0
first_name                               0
last_name                                0
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                      0
job_title                                0
job_industry_category                    0
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                 27
postcode                                27
state                                   27
country                                 27
property_valuation                      27
transaction_id                         496
product_id                             496
transaction_date                       496
online_order                           496
order_status                           496
brand                                  496
product_line                           496
product_class                          496
product_size                           496
list_price                             496
standard_cost                          496
product_first_sold_date                496
dtype: int64

In [77]:
merged_df

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,...,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-12-23,0,Approved,OHM Cycles,Standard,medium,medium,235.63,125.07,2005-05-10
1,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-04-06,1,Approved,Solex,Standard,medium,medium,1577.53,826.51,2008-03-19
2,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-05-11,1,Approved,Trek Bicycles,Road,low,small,1720.70,1531.42,2003-07-21
3,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-01-05,0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,2003-09-09
4,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-02-21,0,Approved,Solex,Standard,medium,medium,71.49,53.62,2005-08-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19364,3500,Josy,Fleeman,Female,71,1967-07-21,Business Systems Development Analyst,Entertainment,Affluent Customer,N,...,2017-01-09,1,Approved,Giant Bicycles,Road,medium,medium,792.90,594.68,1992-10-02
19365,3500,Josy,Fleeman,Female,71,1967-07-21,Business Systems Development Analyst,Entertainment,Affluent Customer,N,...,2017-02-16,0,Approved,WeareA2B,Standard,medium,medium,1228.07,400.91,2000-05-22
19366,3500,Josy,Fleeman,Female,71,1967-07-21,Business Systems Development Analyst,Entertainment,Affluent Customer,N,...,2017-08-08,0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,1992-10-11
19367,3500,Josy,Fleeman,Female,71,1967-07-21,Business Systems Development Analyst,Entertainment,Affluent Customer,N,...,2017-01-11,0,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,1993-07-15
19368,3500,Josy,Fleeman,Female,71,1967-07-21,Business Systems Development Analyst,Entertainment,Affluent Customer,N,...,2017-03-14,1,Approved,OHM Cycles,Standard,high,medium,1458.17,874.90,2006-02-02

In [80]:
merged_df['DOB'].max()

Timestamp('2002-03-11 00:00:00')

In [66]:
merged_df.dropna(axis=0, inplace = True)

In [67]:
merged_df.isnull().sum()

customer_id                            0
first_name                             0
last_name                              0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
deceased_indicator                     0
owns_car                               0
tenure                                 0
address                                0
postcode                               0
state                                  0
country                                0
property_valuation                     0
transaction_id                         0
product_id                             0
transaction_date                       0
online_order                           0
order_status                           0
brand                                  0
product_line                           0
product_class                          0
product_size                           0
list_price                             0
standard_cost                          0
product_first_sold_date                0
dtype: int64

In [78]:
merged_df.dtypes

customer_id                                     int64
first_name                                     object
last_name                                      object
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
deceased_indicator                             object
owns_car                                       object
tenure                                          int64
address                                        object
postcode                                        int64
state                                          object
country                                        object
property_valuation                              int64
transaction_id                                  int64
product_id                                      int64
transaction_date                       datetime64[ns]
online_order                                    int64
order_status                                   object
brand                                          object
product_line                                   object
product_class                                  object
product_size                                   object
list_price                                    float64
standard_cost                                 float64
product_first_sold_date                datetime64[ns]
dtype: object

In [69]:
merged_df['gender'].value_counts()

Female    9908
Male      9419
U            8
Name: gender, dtype: int64

In [70]:

merged_df['gender'].replace('U', 'Female', inplace = True )

In [71]:

# Converting the datatype for postcode from float to int64
merged_df['postcode'] = merged_df['postcode'].astype('int64')

In [72]:
# Converting datatype for property_valuation to int64
merged_df['property_valuation'] = merged_df['property_valuation'].astype('int64')

In [73]:
# Converting datatype for transaction_id and product_id to int64
mergedf['transaction_id'] = merged_df['transaction_id'].astype('int64')
merged_df['product_id'] = merged_df['product_id'].astype('int64')

In [74]:
merged_df['online_order'] = merged_df['online_order'].astype('int64')

In [81]:
merged_df

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,...,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-12-23,0,Approved,OHM Cycles,Standard,medium,medium,235.63,125.07,2005-05-10
1,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-04-06,1,Approved,Solex,Standard,medium,medium,1577.53,826.51,2008-03-19
2,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-05-11,1,Approved,Trek Bicycles,Road,low,small,1720.70,1531.42,2003-07-21
3,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-01-05,0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,2003-09-09
4,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-02-21,0,Approved,Solex,Standard,medium,medium,71.49,53.62,2005-08-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19364,3500,Josy,Fleeman,Female,71,1967-07-21,Business Systems Development Analyst,Entertainment,Affluent Customer,N,...,2017-01-09,1,Approved,Giant Bicycles,Road,medium,medium,792.90,594.68,1992-10-02
19365,3500,Josy,Fleeman,Female,71,1967-07-21,Business Systems Development Analyst,Entertainment,Affluent Customer,N,...,2017-02-16,0,Approved,WeareA2B,Standard,medium,medium,1228.07,400.91,2000-05-22
19366,3500,Josy,Fleeman,Female,71,1967-07-21,Business Systems Development Analyst,Entertainment,Affluent Customer,N,...,2017-08-08,0,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,1992-10-11
19367,3500,Josy,Fleeman,Female,71,1967-07-21,Business Systems Development Analyst,Entertainment,Affluent Customer,N,...,2017-01-11,0,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,1993-07-15
19368,3500,Josy,Fleeman,Female,71,1967-07-21,Business Systems Development Analyst,Entertainment,Affluent Customer,N,...,2017-03-14,1,Approved,OHM Cycles,Standard,high,medium,1458.17,874.90,2006-02-02

In [ ]:



#            TASK 2:

#                                      DATA ANALYSIS

In [113]:
new_cust

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1.718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1.718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1.718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,4,1.703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,4,1.703125
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Ferdinand,Romanetti,Male,60,1959-10-07,Paralegal,Financial Services,Affluent Customer,N,No,9,2 Sloan Way,2200,NSW,Australia,7,996,0.374000
996,Burk,Wortley,Male,22,2001-10-17,Senior Sales Associate,Health,Mass Customer,N,No,6,04 Union Crossing,2196,NSW,Australia,10,997,0.357000
997,Melloney,Temby,Female,17,1954-10-05,Budget/Accounting Analyst IV,Financial Services,Affluent Customer,N,Yes,15,33475 Fair Oaks Junction,4702,QLD,Australia,2,997,0.357000
998,Dickie,Cubbini,Male,30,1952-12-17,Financial Advisor,Financial Services,Mass Customer,N,Yes,19,57666 Victoria Way,4215,QLD,Australia,2,997,0.357000
999,Sylas,Duffill,Male,56,1955-10-02,Staff Accountant IV,Property,Mass Customer,N,Yes,14,21875 Grover Drive,2010,NSW,Australia,9,1000,0.340000

In [108]:
new_cust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   first_name                           1000 non-null   object
 1   last_name                            971 non-null    object
 2   gender                               1000 non-null   object
 3   past_3_years_bike_related_purchases  1000 non-null   int64
 4   DOB                                  983 non-null    datetime64[ns]
 5   job_title                            1000 non-null   object
 6   job_industry_category                1000 non-null   object
 7   wealth_segment                       1000 non-null   object
 8   deceased_indicator                   1000 non-null   object
 9   owns_car                             1000 non-null   object
 10  tenure                               1000 non-null   int64
 11  address                              1000 non-null   object
 12  postcode                             1000 non-null   int64
 13  state                                1000 non-null   object
 14  country                              1000 non-null   object
 15  property_valuation                   1000 non-null   int64
 16  Rank                                 1000 non-null   int64
 17  Value                                1000 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(11)
memory usage: 140.8+ KB

In [104]:
new_cust['job_industry_category'].value_counts()

Financial Services    203
Manufacturing         199
Health                152
Retail                 78
Property               64
IT                     51
Entertainment          37
Argiculture            26
Telecommunications     25
Name: job_industry_category, dtype: int64

In [88]:
# Dropping the nameless columns 
new_cust.drop(columns = ['Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20'], inplace = True)

In [101]:
common_jt = new_cust['job_title'].value_counts().idxmax()  # assigning the most common job title to a variable
print(common_jt)   # printing out the most common job title
new_cust['job_title'].replace(np.nan, common_jt, inplace = True)  # This replaces the missing values with the most common job_title

Associate Professor

In [107]:
common_jic = new_cust['job_industry_category'].value_counts().idxmax()  # assigning the most common job title to a variable
print(common_jic)   # printing out the most common job title
new_cust['job_industry_category'].replace(np.nan, common_jic, inplace = True)  # This replaces the missing values with the most common job_title

Financial Services

In [109]:
merged_df.shape

(19335, 29)

In [125]:
merged_df.head(55)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,...,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-12-23,0,Approved,OHM Cycles,Standard,medium,medium,235.63,125.07,2005-05-10
1,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-04-06,1,Approved,Solex,Standard,medium,medium,1577.53,826.51,2008-03-19
2,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-05-11,1,Approved,Trek Bicycles,Road,low,small,1720.70,1531.42,2003-07-21
3,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-01-05,0,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,2003-09-09
4,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-02-21,0,Approved,Solex,Standard,medium,medium,71.49,53.62,2005-08-09
5,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-05-19,0,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,1991-11-10
6,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-03-27,0,Approved,Norco Bicycles,Mountain,low,small,688.63,612.88,1991-08-05
7,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-12-14,1,Approved,Giant Bicycles,Standard,medium,medium,230.91,173.18,2002-03-22
8,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-06-04,1,Approved,Giant Bicycles,Standard,medium,medium,642.70,211.37,2011-03-16
9,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-12-09,1,Approved,OHM Cycles,Road,medium,medium,742.54,667.40,2003-08-05
10,1,Laraine,Medendorp,Female,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,...,2017-03-29,1,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,1996-11-09
11,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,...,2017-05-04,1,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,2011-08-29
12,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,...,2017-06-11,0,Approved,WeareA2B,Standard,medium,medium,752.64,205.36,2004-08-07
13,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,...,2017-08-24,0,Approved,WeareA2B,Standard,medium,medium,1992.93,762.63,2002-03-22
22,4,Talbot,Pristnor,Male,33,1961-10-03,Business Systems Development Analyst,IT,Mass Customer,N,...,2017-04-03,0,Approved,Giant Bicycles,Standard,medium,large,569.56,528.43,2003-09-10
23,4,Talbot,Pristnor,Male,33,1961-10-03,Business Systems Development Analyst,IT,Mass Customer,N,...,2017-06-18,1,Approved,Solex,Standard,medium,medium,478.16,298.72,1993-06-23
24,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Manufacturing,Affluent Customer,N,...,2017-08-16,0,Approved,Norco Bicycles,Road,high,large,774.53,464.72,2008-03-19
25,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Manufacturing,Affluent Customer,N,...,2017-03-03,1,Approved,Norco Bicycles,Mountain,low,small,688.63,612.88,1993-10-02
26,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Manufacturing,Affluent Customer,N,...,2017-05-03,0,Approved,Trek Bicycles,Road,medium,medium,290.62,215.14,2003-01-05
27,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Manufacturing,Affluent Customer,N,...,2017-12-14,0,Approved,Giant Bicycles,Standard,medium,large,1812.75,582.48,2008-03-19
28,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Manufacturing,Affluent Customer,N,...,2017-05-26,1,Approved,WeareA2B,Road,low,small,1172.78,1043.77,1991-05-06
29,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,Manufacturing,Affluent Customer,N,...,2017-04-28,0,Approved,Solex,Standard,medium,medium,1163.89,589.27,2009-03-08
30,6,Curr,Duckhouse,Male,35,1966-09-16,Business Systems Development Analyst,Retail,High Net Worth,N,...,2017-05-21,0,Approved,Trek Bicycles,Standard,high,medium,358.39,215.03,1991-05-06
31,6,Curr,Duckhouse,Male,35,1966-09-16,Business Systems Development Analyst,Retail,High Net Worth,N,...,2017-09-16,0,Approved,Giant Bicycles,Standard,medium,medium,230.91,173.18,1999-07-20
32,6,Curr,Duckhouse,Male,35,1966-09-16,Business Systems Development Analyst,Retail,High Net Worth,N,...,2017-10-27,1,Approved,WeareA2B,Standard,medium,medium,1807.45,778.69,2010-08-20
33,6,Curr,Duckhouse,Male,35,1966-09-16,Business Systems Development Analyst,Retail,High Net Worth,N,...,2017-01-28,0,Approved,WeareA2B,Standard,medium,medium,1769.64,108.76,2014-07-28
34,6,Curr,Duckhouse,Male,35,1966-09-16,Business Systems Development Analyst,Retail,High Net Worth,N,...,2017-02-06,1,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10
35,7,Fina,Merali,Female,6,1976-02-23,Business Systems Development Analyst,Financial Services,Affluent Customer,N,...,2017-04-21,0,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,2004-09-28
36,7,Fina,Merali,Female,6,1976-02-23,Business Systems Development Analyst,Financial Services,Affluent Customer,N,...,2017-02-18,1,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,2002-08-31
37,7,Fina,Merali,Female,6,1976-02-23,Business Systems Development Analyst,Financial Services,Affluent Customer,N,...,2017-02-24,1,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,2016-02-04
38,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,Manufacturing,Mass Customer,N,...,2017-09-22,1,Approved,Norco Bicycles,Standard,low,medium,958.74,748.90,2013-03-12
39,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,Manufacturing,Mass Customer,N,...,2017-12-08,1,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2003-07-21
40,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,Manufacturing,Mass Customer,N,...,2017-07-13,1,Approved,Norco Bicycles,Road,high,large,774.53,464.72,2012-06-04
41,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,Manufacturing,Mass Customer,N,...,2017-04-11,0,Approved,WeareA2B,Standard,low,medium,642.31,513.85,2005-05-10
42,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,Manufacturing,Mass Customer,N,...,2017-10-21,1,Approved,Giant Bicycles,Standard,high,medium,1129.13,677.48,2003-03-18
43,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,Manufacturing,Mass Customer,N,...,2017-01-04,1,Approved,WeareA2B,Touring,medium,large,1362.99,57.74,2016-07-09
44,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,Manufacturing,Mass Customer,N,...,2017-10-04,0,Approved,Giant Bicycles,Standard,high,medium,1129.13,677.48,2003-03-18
45,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,Manufacturing,Mass Customer,N,...,2017-04-21,0,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,1997-08-25
46,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,Manufacturing,Mass Customer,N,...,2017-08-11,0,Approved,Solex,Standard,medium,medium,441.49,84.99,2015-06-17
47,8,Rod,Inder,Male,31,1962-03-30,Media Manager I,Manufacturing,Mass Customer,N,...,2017-01-28,1,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2003-07-21
48,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,...,2017-05-10,0,Approved,Solex,Standard,medium,large,1061.56,733.58,2015-06-17
49,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,...,2017-03-06,0,Approved,WeareA2B,Standard,medium,medium,752.64,205.36,1999-07-26
50,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,...,2017-10-13,0,Approved,Solex,Standard,low,medium,945.04,507.58,2010-06-07
51,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,...,2017-02-04,0,Approved,Giant Bicycles,Road,medium,medium,792.90,594.68,2014-10-10
52,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,...,2017-08-20,0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,2014-03-03
53,9,Mala,Lind,Female,97,1973-03-10,Business Systems Development Analyst,Argiculture,Affluent Customer,N,...,2017-09-30,1,Approved,Solex,Standard,medium,medium,1577.53,826.51,2010-06-07
59,11,Uriah,Bisatt,Male,99,1954-04-30,Business Systems Development Analyst,Property,Mass Customer,N,...,2017-04-02,0,Approved,Norco Bicycles,Standard,medium,small,1216.14,1082.36,1991-08-05
60,11,Uriah,Bisatt,Male,99,1954-04-30,Business Systems Development Analyst,Property,Mass Customer,N,...,2017-10-30,1,Approved,WeareA2B,Touring,medium,medium,1466.68,363.25,2014-03-03
61,11,Uriah,Bisatt,Male,99,1954-04-30,Business Systems Development Analyst,Property,Mass Customer,N,...,2017-08-02,0,Approved,Solex,Standard,high,medium,748.17,448.90,1991-11-10
62,11,Uriah,Bisatt,Male,99,1954-04-30,Business Systems Development Analyst,Property,Mass Customer,N,...,2017-07-09,0,Approved,WeareA2B,Touring,medium,medium,1466.68,363.25,2014-03-03
63,11,Uriah,Bisatt,Male,99,1954-04-30,Business Systems Development Analyst,Property,Mass Customer,N,...,2017-06-02,1,Approved,WeareA2B,Standard,medium,medium,752.64,205.36,2015-08-02
64,11,Uriah,Bisatt,Male,99,1954-04-30,Business Systems Development Analyst,Property,Mass Customer,N,...,2017-11-14,1,Approved,Giant Bicycles,Standard,high,medium,1129.13,677.48,2005-08-09
65,12,Sawyere,Flattman,Male,58,1994-07-21,Nuclear Power Engineer,Manufacturing,Mass Customer,N,...,2017-08-21,0,Approved,Giant Bicycles,Standard,medium,large,1812.75,582.48,2010-06-07
66,12,Sawyere,Flattman,Male,58,1994-07-21,Nuclear Power Engineer,Manufacturing,Mass Customer,N,...,2017-09-04,1,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,2016-12-06
67,12,Sawyere,Flattman,Male,58,1994-07-21,Nuclear Power Engineer,Manufacturing,Mass Customer,N,...,2017-02-12,1,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,2016-12-06

In [128]:
merged_df['transaction_date']

0       2017-12-23
1       2017-04-06
2       2017-05-11
3       2017-01-05
4       2017-02-21
           ...
19364   2017-01-09
19365   2017-02-16
19366   2017-08-08
19367   2017-01-11
19368   2017-03-14
Name: transaction_date, Length: 19335, dtype: datetime64[ns]